* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inria Sans", sans-serif;
}

html {
  color-scheme: light;
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100vh;
}

.section-principal {
  display: flex;
  background-image: url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  height: 30rem;
}
.section-principal .principal {
  display: flex;
  flex-direction: column;
  margin: 1.25rem;
  color: whitesmoke;
  padding: 3.125rem;
}
.section-principal .principal h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  padding-bottom: 2.5rem;
}
.section-principal .principal p {
  text-align: center;
  font-size: 1.25rem;
}
.section-principal .video {
  margin: 1.25rem;
  padding: 3.125rem;
}

.frase-gancho {
  width: 100%;
  height: 15.625rem;
  background-color: rgba(6, 75, 125, 0.8431372549);
  padding: 4.6875rem 3.125rem;
  height: auto;
}
.frase-gancho p {
  text-align: center;
  font-size: 1.25rem;
  color: whitesmoke;
}

.como-ayudamos {
  display: flex;
  height: 32.5rem;
  margin-top: 0.625rem;
  padding: 1.875rem;
}
.como-ayudamos .ayudas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.como-ayudamos .ayudas .circulo {
  display: flex;
  width: 18.75rem;
  height: 18.75rem;
  background-color: rgba(61, 145, 173, 0.787);
  border-radius: 18.75rem;
  margin-bottom: 0.9375rem;
  justify-content: center;
  align-items: center;
}
.como-ayudamos .ayudas .circulo img {
  width: 9.375rem;
  height: 9.375rem;
}
.como-ayudamos .ayudas p {
  text-align: center;
  margin: 0.9375rem;
}

.gancho-clientes .atraer-clientes {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(20, 135, 177, 0.856);
  height: 11.875rem;
}
.gancho-clientes .atraer-clientes .datos-clientes {
  display: flex;
  list-style: none;
  gap: 18.75rem;
  color: whitesmoke;
  font-size: 2.25rem;
  padding: 2.5rem 12.5rem;
  text-align: center;
}

.testimoniales {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  /* margin-top: 1.875rem; */
}
.testimoniales h2 {
  font-size: 3.75rem;
  letter-spacing: 0.3125rem;
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
}
.testimoniales .carousel-bootstrap {
  width: 50%;
  height: auto;
}
.testimoniales .calltoaction-inscribirme {
  display: flex;
  align-items: center;
  height: 9.375rem;
  width: 100%;
  margin-top: 3.125rem;
}
.testimoniales .calltoaction-inscribirme p {
  font-size: 2.5rem;
  width: 50%;
  margin: 0;
  padding: 1.25rem;
  justify-content: center;
  text-align: center;
}
.testimoniales .calltoaction-inscribirme .div-button {
  display: flex;
  width: 50%;
  /* margin: 1.25rem; */
  padding: 1.25rem;
  justify-content: center;
}
.testimoniales .calltoaction-inscribirme .div-button button {
  display: flex;
  width: 31.25rem;
  height: 6.25rem;
  background-color: #07598C;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 1.875rem;
  align-items: center;
}
.testimoniales .calltoaction-inscribirme .div-button button:hover {
  background-color: #bb0606;
}
.testimoniales .calltoaction-inscribirme .div-button button a {
  text-decoration: none;
  color: white;
  font-size: 3rem;
  padding: 1.25rem 5rem 1.25rem 6.25rem;
  text-align: center;
}

.acerca-de-nosotros {
  display: flex;
  height: auto;
}
.acerca-de-nosotros .about-us {
  display: flex;
  flex-direction: column;
  margin: 1.25rem;
  color: black;
  padding: 3.125rem;
}
.acerca-de-nosotros .about-us h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  padding-bottom: 2.5rem;
}
.acerca-de-nosotros .about-us p {
  text-align: center;
  font-size: 1.25rem;
}
.acerca-de-nosotros .video-nosotros {
  margin: 1.25rem;
  padding: 0 3.125rem;
}

.frase-nosotros {
  width: 100%;
  height: 10.625rem;
  background-image: url(../assets/img/personas-nosotroshtml.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.frase-nosotros p {
  text-align: center;
  font-size: 1.25rem;
  color: black;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  margin: 0;
  padding: 0 2.5rem;
}

.equipo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}
.equipo .texto-equipo {
  margin: 1.25rem 1.875rem;
}
.equipo .texto-equipo h2 {
  font-size: 2.5rem;
  letter-spacing: 0.1875rem;
  padding-bottom: 0.625rem;
  font-weight: 700;
}
.equipo .texto-equipo p {
  font-size: 1rem;
  padding-right: 3.125rem;
  text-align: justify;
}

.card img {
  height: 21.875rem;
  object-fit: cover;
  border-radius: 1.875rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.card .card-body h5 {
  text-align: center;
  font-weight: 700;
}
.card .card-body p {
  text-align: center;
  font-weight: 300;
  font-size: 1rem;
}

.beneficios-texto {
  margin: 2.5rem;
}
.beneficios-texto p {
  text-align: center;
  padding: 0rem 6.25rem;
  font-size: 1.25rem;
  margin: 0px;
}

.beneficios-ofrecemos h3 {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1.875rem;
}
.beneficios-ofrecemos .beneficios-grid {
  display: grid;
  justify-content: center;
  gap: 2.5rem;
  grid-template-columns: repeat(3, 18.75rem);
  grid-template-rows: repeat(2, 18.75rem);
  grid-template-areas: "b1 b2 b3" "b4 b5 b6";
}
.beneficios-ofrecemos .beneficios-grid .container-b {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}
.beneficios-ofrecemos .beneficios-grid .b1 {
  grid-area: b1;
}
.beneficios-ofrecemos .beneficios-grid .b2 {
  grid-area: b2;
}
.beneficios-ofrecemos .beneficios-grid .b3 {
  grid-area: b3;
}
.beneficios-ofrecemos .beneficios-grid .b4 {
  grid-area: b4;
}
.beneficios-ofrecemos .beneficios-grid .b5 {
  grid-area: b5;
}
.beneficios-ofrecemos .beneficios-grid .b6 {
  grid-area: b6;
}

.faqs {
  margin: 2.5rem 4.375rem;
}
.faqs h3 {
  font-size: 2.25rem;
  font-weight: 700;
}
.faqs .accordion-button {
  background-color: #1170ab;
  color: snow;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
}

.beneficios-final {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "bf-1 bf-2" "bf-3 bf-4";
  margin: 1.875rem 4.375rem;
  gap: 1.25rem;
  text-align: center;
}
.beneficios-final .bf-1 {
  grid-area: bf-1;
}
.beneficios-final .bf-2 {
  grid-area: bf-2;
}
.beneficios-final .bf-3 {
  grid-area: bf-3;
}
.beneficios-final .bf-4 {
  grid-area: bf-4;
}
.beneficios-final h4 {
  font-weight: 700;
}

.cta-solicitar {
  margin: 0rem 4.375rem;
}
.cta-solicitar h3 {
  font-size: 2.5rem;
  font-weight: 700;
}
.cta-solicitar p {
  font-size: 1.875rem;
}
.cta-solicitar .button-beneficios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1.875rem;
  grid-template-areas: "0 button";
  justify-items: end;
}
.cta-solicitar .button-beneficios button {
  grid-area: button;
  justify-content: center;
  width: 100%;
  height: 6.25rem;
  background-color: #07598C;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 1.875rem;
  align-items: center;
}
.cta-solicitar .button-beneficios button:hover {
  background-color: #bb0606;
}
.cta-solicitar .button-beneficios button a {
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
  text-align: center;
}

.beneficios-frase {
  width: 100%;
  height: 31.25rem;
  padding: 1.875rem 6.25rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "b-img b-frase";
  background-color: snow;
  align-items: center;
}
.beneficios-frase p {
  grid-area: b-frase;
  font-size: 2.25rem;
  text-align: center;
  font-weight: 700;
  font-style: italic;
}
.beneficios-frase .car-b {
  grid-area: b-img;
  height: 31.25rem;
  padding: 1.875rem 6.25rem;
  object-fit: cover;
  border-radius: 3.125rem;
}
.beneficios-frase .car-b img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3.125rem;
}

.clientes-principal {
  display: grid;
  height: 100%;
  grid-template-columns: 70% 30%;
  grid-template-areas: "ct cd";
  padding: 1.875rem 3.125rem 0.625rem 3.125rem;
}
.clientes-principal .clientes-texto {
  grid-area: ct;
}
.clientes-principal .clientes-texto h2 {
  font-size: 4.375rem;
  font-weight: 900;
}
.clientes-principal .clientes-texto p {
  width: 100%;
  font-size: 1.25rem;
  text-align: justify;
  font-weight: 300;
  padding-bottom: 1.25rem;
}
.clientes-principal .clientes-texto .button-afiliarme {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.clientes-principal .clientes-datos {
  grid-area: cd;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5rem;
}
.clientes-principal .clientes-datos div {
  display: flex;
  background-color: lightgray;
  border-radius: 50%;
  width: 11.25rem;
  height: 11.25rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.clientes-principal .clientes-datos div p {
  text-align: center;
  padding: 10%;
  margin: 0;
}

.clientes-cinta h3 {
  font-size: 1.875rem;
  padding-bottom: 0.625rem;
  font-weight: 700;
}

.empresas-clientes {
  padding: 1.875rem 6.25rem;
}
.empresas-clientes h3 {
  font-size: 2.5rem;
  font-weight: 900;
  text-align: end;
}
.empresas-clientes h4 {
  font-size: 1.875rem;
  font-weight: 400;
  text-align: end;
  padding-bottom: 1.875rem;
}
.empresas-clientes .empresas {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.875rem;
}
.empresas-clientes .empresas .empresas-logo {
  display: flex;
  gap: 5rem;
}
.empresas-clientes .empresas .empresas-logo img {
  width: 9.375rem;
}
.empresas-clientes .empresas .line {
  width: 70%;
  height: 0.3125rem;
  background-color: black;
}

.testimoniales-clientes h3 {
  font-size: 2.5rem;
  padding-bottom: 1.25rem;
  font-weight: 700;
}

.testimoniales-escritos {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.875rem;
}
.testimoniales-escritos .title {
  margin: 1.875rem;
}
.testimoniales-escritos .title h2 {
  font-size: 2.5rem;
  margin-bottom: 0.3125rem;
  font-weight: 700;
}
.testimoniales-escritos .title .underline {
  width: 100px;
  height: 4px;
  background-color: #134975;
  margin: 0 auto;
}
.testimoniales-escritos .review {
  width: 100%;
  height: 28.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.875rem;
  background-color: #12192c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 12px;
}
.testimoniales-escritos .review .img-container img {
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.5);
}
.testimoniales-escritos .review #author {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 10px;
  color: snow;
}
.testimoniales-escritos .review #job {
  text-transform: uppercase;
  line-height: 150%;
  margin-bottom: 10px;
  color: lightskyblue;
}
.testimoniales-escritos .review #info {
  height: 100px;
  font-size: 1.125rem;
  color: #fff;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}
.testimoniales-escritos .review .btn2 {
  text-decoration: none;
  border-style: none;
  font-size: 1.875rem;
  margin: 0 10px;
  color: lightskyblue;
  cursor: pointer;
  background-color: #12192c;
}

.main-contenido {
  margin: 1.875rem;
}
.main-contenido .contenido-texto {
  margin: 1.875rem 1.875rem 1.25rem 1.875rem;
}
.main-contenido .contenido-texto h3 {
  font-size: 2.25rem;
  font-weight: 700;
}
.main-contenido .contenido-texto p {
  font-size: 1.125rem;
  padding: 0.625rem 0.625rem 0.125rem 0rem;
  text-align: justify;
}
.main-contenido .webinar-video, .main-contenido .podcast-spotify {
  display: flex;
  justify-content: center;
}
.news-flex {
  display: flex;
}
.news-flex .news-img {
  width: 50%;
  margin: 0.625rem 6.25rem;
}
.news-flex .news-img img {
  width: 31.25rem;
}
.news-flex .news-mensual {
  width: 50%;
  text-align: right;
  margin: 0.625rem 3.125rem;
}
.news-flex .news-mensual h4 {
  font-size: 4.375rem;
}
.news-flex .news-mensual article {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 1.25rem;
}

header {
  background-color: whitesmoke;
  align-items: center;
  padding: 0.625rem 0rem;
  position: sticky;
  height: auto;
  border-bottom: solid 3px lightgray;
  z-index: 10000;
}

.footer-contacto {
  display: flex;
  flex-direction: row;
  background-color: rgba(6, 75, 125, 0.8705882353);
  height: 31.25rem;
  /* padding: 1.25rem; */
  color: whitesmoke;
}

.aviso {
  background-color: #D9D9D9;
  text-align: center;
  height: 2.5rem;
}
.aviso h6 {
  font-size: 1rem;
  padding: 0.625rem;
  font-weight: 300;
  margin: 0;
}

.navbar li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: 900;
  font-size: 1.25rem;
}

.contactanos {
  width: 60%;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}
.contactanos h2 {
  font-size: 2.5rem;
}
.contactanos p {
  font-size: 1.25rem;
}
.contactanos img {
  width: 12.5rem;
  margin-top: 1.25rem;
}
.contactanos .link-arbol {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.contactanos .redes {
  display: flex;
  flex-direction: row;
  gap: 0.9375rem;
  justify-content: center;
}
.contactanos .redes img {
  width: 3.125rem;
  margin-top: 0.625rem;
}

.formulario .formulario2 {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 28.125rem;
  gap: 0.3125rem;
  margin-top: 1.25rem;
}
.formulario .formulario2 .form-box {
  background-color: rgba(26, 68, 98, 0.3803921569);
  height: 3.125rem;
  gap: 1.25rem;
  border: none;
  border-radius: 3.125rem;
  fill: rgba(0, 0, 0, 0.31);
  /* mix-blend-mode: multiply; */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  color: whitesmoke;
  font-size: 1.25rem;
  padding-left: 1.25rem;
}
.formulario .formulario2 .form-box::placeholder {
  color: rgba(245, 245, 245, 0.254);
  font-size: 1.25rem;
  font-family: "Inria Sans" sans-serif;
  padding-left: 1.25rem;
}
.formulario .formulario2 .form-textarea {
  padding-top: 0.9375rem;
  margin-top: 0.3125rem;
  height: 12.5rem;
  /* border-radius: 1.25rem; */
}
.formulario .formulario2 .send-button {
  background-color: #62A4CE;
  width: 9.375rem;
  height: 1.875rem;
  margin-top: 1.25rem;
  border: none;
  border-radius: 3.125rem;
  fill: rgba(117, 185, 226, 0.76);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: whitesmoke;
  font-size: 1.25rem;
  text-align: center;
  font-weight: 700;
}
.formulario .formulario2 .send-button:hover {
  background-color: #bb0606;
}

.cinta-giros {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.731);
  height: 4.375rem;
  font-weight: 700;
}
.cinta-giros ul {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  gap: 2.5rem;
  margin: 0;
  padding: 0;
}
.cinta-giros ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.cinta-giros ul li img {
  width: 2.5rem;
}

@media (min-width: 320px) and (max-width: 1207px) {
  .cinta-giros {
    width: 100%;
  }
  .cinta-giros ul {
    gap: 0.9375rem;
  }
  .cinta-giros ul .giro-6 {
    display: none;
  }
  .cinta-giros ul li {
    font-size: 0.75rem;
  }
}
@media (min-width: 320px) and (max-width: 1119px) {
  .footer-contacto {
    height: auto;
    flex-direction: column-reverse;
  }
  .footer-contacto .contactanos {
    width: 100%;
  }
  .footer-contacto .formulario {
    margin: 20px 0px;
  }
  .footer-contacto .formulario .formulario2 {
    width: 100%;
    margin: 0;
    padding: 0% 5%;
  }
  .footer-contacto .formulario .formulario2 .send-button {
    display: block;
    width: 100%;
    height: 3.125rem;
    font-size: 1.875rem;
    letter-spacing: 5px;
  }
}
@media (min-width: 320px) and (max-width: 1207px) {
  .section-principal {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .section-principal .principal {
    padding: 2.5rem;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    color: black;
    border-radius: 40px;
  }
  .section-principal .video {
    margin: 0;
    padding: 0;
    padding-bottom: 2.5rem;
  }
  .frase-gancho {
    padding: 3.125rem;
  }
  .frase-gancho p {
    margin: 0;
  }
  .como-ayudamos {
    flex-wrap: wrap;
    height: auto;
    padding: 0;
  }
  .como-ayudamos .ayudas {
    padding: 0.9375rem 3.75rem;
  }
  .como-ayudamos .ayudas .circulo {
    margin: 0;
  }
  .como-ayudamos .ayudas p {
    padding: 0rem 3.125rem;
  }
  .gancho-clientes .atraer-clientes .datos-clientes {
    gap: 4.375rem;
    margin: 0;
    padding: 2.5rem 5rem;
  }
  .testimoniales .carousel-bootstrap {
    width: 80%;
  }
  .testimoniales .calltoaction-inscribirme p {
    font-size: 1.5rem;
  }
  .testimoniales .calltoaction-inscribirme .div-button button {
    width: 100%;
    height: 4.375rem;
    justify-content: center;
  }
  .testimoniales .calltoaction-inscribirme .div-button button a {
    font-size: 1.875rem;
    padding: 0;
  }
}
@media (max-width: 320px) {
  .principal {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }
  .principal h1 {
    font-size: 1.25rem;
    padding: 0;
    margin: 0;
    font-weight: 900;
  }
  .principal p {
    display: none;
  }
  .video {
    width: 80%;
  }
  .video iframe {
    width: 100%;
    height: 100%;
  }
  .frase-gancho p {
    font-size: 1rem;
  }
  .como-ayudamos {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .circulo {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 6.25rem;
  }
  .circulo img {
    width: 4rem;
    height: 4rem;
  }
  .ayudas p {
    display: none;
  }
  .atraer-clientes {
    height: auto;
  }
  .datos-clientes {
    gap: 1.25rem;
    margin: 0;
    padding: 2.5rem 1.875rem;
    flex-direction: column;
  }
  .cinta-giros {
    display: none;
  }
  .testimoniales h2 {
    font-size: 1.875rem;
    font-weight: 700;
  }
  .calltoaction-inscribirme {
    flex-direction: column;
    margin-top: 1.25rem;
  }
  .calltoaction-inscribirme p {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .calltoaction-inscribirme button {
    width: 9.375rem;
    height: 3.125rem;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  .calltoaction-inscribirme button a {
    font-size: 1rem;
    padding: 0;
  }
}
@media (min-width: 320px) and (max-width: 1207px) {
  .acerca-de-nosotros {
    flex-direction: column;
    height: auto;
  }
  .acerca-de-nosotros .about-us {
    margin: auto;
  }
  .acerca-de-nosotros .video-nosotros {
    margin: auto;
    padding-bottom: 3.125rem;
  }
  .equipo .cont-cards {
    margin-bottom: 1.25rem;
  }
  .equipo .cont-cards .card-3 {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 1207px) {
  .beneficios-texto p {
    padding: 0;
    font-size: 0.875rem;
  }
  .beneficios-ofrecemos h3 {
    font-size: 2.25rem;
  }
  .beneficios-ofrecemos .beneficios-grid {
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(2, 2fr);
    grid-template-areas: "b1 b2 b3" "b4 b5 b6";
    padding: 0rem 0.625rem;
    margin: 0 1.25rem;
  }
  .beneficios-ofrecemos .container-b {
    width: 6.25rem;
    height: 6.25rem;
  }
  .faqs {
    margin: 2.5rem 1.875rem;
  }
  .faqs h3 {
    font-size: 1.5rem;
  }
  .faqs p {
    font-size: 0.75rem;
  }
  .cta-solicitar {
    margin: 0px 1.875rem;
    padding: 0.625rem 1.25rem;
    text-align: center;
  }
  .cta-solicitar h3 {
    font-size: 2.25rem;
  }
  .cta-solicitar p {
    font-size: 0.875rem;
  }
  .cta-solicitar .button-beneficios {
    margin-bottom: 1.5rem;
    padding: 0 3.75rem;
    display: block;
  }
  .cta-solicitar .button-beneficios button {
    width: 100%;
    height: 3.125rem;
    padding: 0;
  }
  .cta-solicitar .button-beneficios button a {
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 0.125rem;
    padding: 0;
  }
  .beneficios-frase {
    display: block;
    height: auto;
  }
  .beneficios-frase .bf-carousel {
    display: none;
  }
  .beneficios-frase p {
    font-size: 1.5rem;
  }
}
@media (min-width: 320px) and (max-width: 1207px) {
  .clientes-principal {
    padding: 1.875rem 1.875rem;
  }
  .clientes-principal .clientes-texto {
    padding-right: 0.625rem;
  }
  .clientes-principal .clientes-texto .button-afiliarme {
    justify-content: center;
  }
  .clientes-principal .clientes-texto .button-afiliarme a {
    width: 300px;
    font-size: 1.875rem;
    font-weight: 900;
  }
  .clientes-principal .clientes-datos {
    justify-content: flex-end;
    padding-bottom: 60px;
  }
  .clientes-cinta h3 {
    font-size: 1.5rem;
    text-align: center;
  }
  .empresas-clientes h3, .empresas-clientes h4 {
    text-align: center;
  }
  .testimoniales-clientes h3 {
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 1207px) {
  .main-contenido h3 {
    text-align: center;
  }
  .main-contenido .podcast h3 {
    font-size: 1.5rem;
  }
  .news-flex .news-img {
    margin: 0;
  }
  .news-flex .news-img img {
    width: 100%;
  }
  .news-flex .news-mensual {
    margin: 0.625rem 1.25rem;
  }
  .news-flex .news-mensual h4 {
    font-size: 3rem;
  }
  .news-flex .news-mensual article {
    font-size: 1.25rem;
    padding-left: 1.875rem;
  }
}

/*# sourceMappingURL=style.css.map */
