$font-xs: 0.75rem !default; // 12px
$font-sm: 0.875rem !default; // 14px
$font-md: 1rem !default; // 16px
$font-lg: 1.125rem !default; // 18px
$font-xl: 1.25rem !default; // 20px
$font-2xl: 1.5rem !default; // 24px
$font-3xl: 1.875rem !default; // 30px
$font-4xl: 2.25rem !default; // 36px
$font-5xl: 2.5rem !default; // 40px
$font-6xl: 3rem !default; // 48px
$font-7xl: 3.75rem !default; // 60px
$font-8xl: 4.375rem !default; // 70px

$font-thin: 100 !default;
$font-extralight: 200 !default;
$font-light: 300 !default;
$font-normal: 400 !default;
$font-medium: 500 !default;
$font-semibold: 600 !default;
$font-bold: 700 !default;
$font-extrabold: 800 !default;
$font-black: 900 !default;

$color-blue-1: #50aef6;
$color-blue-2: #0389d0;
$color-blue-3: #026ca4;
$color-blue-4: #2b5891;
$color-blue-5: #024177;
$color-blue-6: #02325b;
$color-blue-7: #162d3c;
$color-blue-8: #0c1921;

$color-blue-9: #3d91adc9;
$color-blue-10: #1487b1da;
$color-blue-11: #07598C;
$color-blue-12: #add8e6;
$color-blue-13: #87cefa;

$color-red-1: #bb0606;

$color-green-1:#08552E;

$color-white-1: #f5f5f5;

$color-black-1: #0a0a0a;

$color-gray-1: #d3d3d3;