.contactanos{
    width: 60%;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    h2{
        font-size: $font-5xl;
    }
    p{
        font-size: $font-xl;
    }
    img{
        width: 12.5rem;
        margin-top: 1.25rem;
    }
    .link-arbol{
        display: flex;
        justify-content: center;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
    }
    .redes{
        display: flex;
        flex-direction: row;
        gap: .9375rem;
        justify-content: center;
        img{
            width: 3.125rem;
            margin-top: .625rem;
        }
    }
}

.formulario{
    .formulario2{
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 28.125rem;
        gap: .3125rem;
        margin-top: 1.25rem;
        .form-box{
            background-color: #1a446261;
            height: 3.125rem;
            gap: 1.25rem;
            border: none;
            border-radius: 3.125rem;
            fill: rgba(0, 0, 0, 0.31);
            /* mix-blend-mode: multiply; */
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
            color: whitesmoke;
            font-size: $font-xl;
            padding-left: 1.25rem;
            &::placeholder{
                color: rgba(245, 245, 245, 0.254);
                font-size: $font-xl;
                font-family: 'Inria Sans' sans-serif;
                padding-left: 1.25rem;
            }
        }
        .form-textarea{
            padding-top: .9375rem;
            margin-top: .3125rem;                
            height: 12.5rem;
            /* border-radius: 1.25rem; */
        }
        .send-button{
            background-color: #62A4CE;
            width: 9.375rem;
            height: 1.875rem;
            margin-top: 1.25rem;
            border: none;
            border-radius: 3.125rem;
            fill: rgba(117, 185, 226, 0.76);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            color: whitesmoke;
            font-size: $font-xl;
            text-align: center;
            font-weight: $font-bold;
            &:hover{
                background-color: #bb0606;
            }
        } 
    }
}
