@media (min-width: 758px) and (max-width: 1207px){
    .main-contenido{
        h3{
            text-align: center;
        }
        .podcast{
            h3{
                font-size: $font-2xl;
            }
        }
    }

    .news-flex{
        .news-img{
            margin: 0;
            img{
                width: 100%;
            }
        }
        .news-mensual{
            margin: .625rem 1.25rem;
            h4{
                font-size: $font-6xl;
            }
            article{
                font-size: $font-xl;
                padding-left: 1.875rem;
            }
        }
    }
}


@media (min-width: 560px) and (max-width: 757px){
    .main-contenido{
        h3{
            text-align: center;
        }
        .webinar{
            .webinar-video {
                position: relative;
                padding: 0;
                padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 = 0.5625) */
                height: 0;
                width: 100%;
                margin: 0;
                margin-bottom: 20px;
                iframe{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .podcast{
            h3{
                font-size: $font-2xl;
            }
        }
    }

    .news-flex{
        .news-img{
            margin: 0;
            img{
                width: 100%;
            }
        }
        .news-mensual{
            margin: .625rem 1.25rem;
            h4{
                font-size: $font-2xl;
                font-weight: $font-bold;
            }
            article{
                font-size: $font-sm;
                padding-left: 1.875rem;
            }
        }
    }
}


@media (min-width: 320px) and (max-width: 559px){
    .main-contenido{
        .contenido-texto{
            margin: 20px 0;
        }
        .webinar{
            h3{
                font-size: $font-2xl;
                text-align: center;
            }
            p{
                font-size: $font-xs;
                text-align: justify;

            }
            .webinar-video {
                position: relative;
                padding: 0;
                padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 = 0.5625) */
                height: 0;
                width: 100%;
                margin: 0;
                margin-bottom: 20px;
                iframe{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .podcast{
            h3{
                font-size: $font-xl;
                text-align: center;
            }
            p{
                font-size: $font-xs;
                text-align: justify;
            }
            .podcast-spotify {
                position: relative;
                padding: 0;
                padding-bottom: 70%; /* 16:9 aspect ratio (9 / 16 = 0.5625) */
                height: 0;
                width: 100%;
                margin: 0;
                iframe{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .news{
            h3{
                font-size: $font-xl;
                text-align: center;
            }
            p{
                font-size: $font-xs;
                text-align: justify;
            }
            .news-flex{
                .news-img{
                    width: 100%;
                    margin: 0;
                    img{
                        width: 100%;
                    }
                }
                .news-mensual{
                    display: none;
                }
            }
        }
    }
}