
@media (min-width: 320px) and (max-width: 1119px) {
	.footer-contacto {
		height: auto;
		flex-direction: column-reverse;
		.contactanos {
			width: 100%;
		}
		.formulario {
			margin: 20px 0px;
			.formulario2 {
				width: 100%;
				margin: 0;
				padding: 0% 5%;
				.send-button{
					display: block;
					width: 100%;
					height: 3.125rem;
					font-size: $font-3xl;
					letter-spacing: 5px;
				}
			}
		}
	}
}
