.beneficios-texto{
    margin: 2.5rem;
    p{
        text-align: center;
        padding: 0rem 6.25rem;
        font-size: $font-xl;
        margin: 0px;
    }
}

.beneficios-ofrecemos{
    h3{
        text-align: center;
        font-weight: $font-bold;
        font-size: $font-6xl;
        margin-bottom: 1.875rem;
    }
    .beneficios-grid{
        @include grid(repeat(3,18.75rem), repeat(2,18.75rem), "b1 b2 b3" "b4 b5 b6", center, unset, 2.5rem);
        .container-b{
            @include flex(column, center, center, 0);
            width: 100%;
            height: 100%;
            background-color: $color-blue-12;
            img{
                width: 70%;
            }
        }
        .b1{
            grid-area: b1;
        }
        
        .b2{
            grid-area: b2;
        }
        
        .b3{
            grid-area: b3;
        }
        
        .b4{
            grid-area: b4;
        }
        
        .b5{
            grid-area: b5;
        }
        
        .b6{
            grid-area: b6;
        }
    }
}

.faqs{
    margin: 2.5rem 4.375rem;
    h3{
        font-size: $font-4xl;
        font-weight: $font-bold;
    }
    .accordion-button{
    background-color: $color-blue-3;
    color: $color-white-1;
    text-transform: uppercase;
    font-size: $font-xl;
    font-weight: $font-bold;
    }
}

.beneficios-final{
    @include grid(repeat(2, 1fr), repeat(2, 1fr), "bf-1 bf-2" "bf-3 bf-4", unset, unset, 1.25rem);
    margin: 1.875rem 4.375rem;
    text-align: center;
    .bf-1{
        grid-area: bf-1;
    }
    .bf-2{
        grid-area: bf-2;
    }
    .bf-3{
        grid-area: bf-3;
    }
    .bf-4{
        grid-area: bf-4;
    }
    h4{
        font-weight: $font-bold;
    }
}   

.cta-solicitar{
    margin: 0rem 4.375rem;
    h3{
        font-size: $font-5xl;
        font-weight: $font-bold;
    }
    p{
        font-size: $font-3xl;
    }
    .button-beneficios{
        @include grid(repeat(2, 1fr), 1, "0 button", unset, unset, 0);
        padding: 1.875rem;
        justify-items: end;
        button{
            grid-area: button;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 6.25rem;
            background-color: $color-blue-11;
            border: none;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            border-radius: 1.875rem;
            &:hover{
                background-color: $color-red-1;
            }
            a{
                text-decoration: none;
                color: $color-white-1;
                font-size: $font-5xl;
                text-align: center;
            }
        }
    }
}

.beneficios-frase{
    width: 100%;
    height: 31.25rem;
    padding: 1.875rem 6.25rem;
    background-color: snow;
    @include grid(50% 50%, 100%, "b-img b-frase", unset, center, 0);
    p{
        grid-area: b-frase;
        font-size: $font-4xl;
        text-align: center;
        font-weight: $font-bold;
        font-style: italic;
    }
    .car-b{
        grid-area: b-img;
        height: 31.25rem;
        padding: 1.875rem 6.25rem;
        object-fit: cover;
        border-radius: 3.125rem;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 3.125rem;
        }
    }
}