.main-contenido{
    margin: 1.875rem;
    .contenido-texto{
        margin: 1.875rem 1.875rem 1.25rem 1.875rem;
        h3{
            font-size: $font-4xl;
            font-weight: $font-bold;
        }
        p{
            font-size: $font-lg;
            padding: .625rem .625rem .125rem 0rem;
            text-align: justify;
        }
    }
    .webinar-video{
        display: flex;
        justify-content: center;
    }
    .podcast-spotify{
        @extend .webinar-video
    }
}

.news-flex{
    display: flex;
    .news-img{
        width: 50%;
        margin: .625rem 6.25rem;
        img{
            width: 31.25rem;
        }
    }
    .news-mensual{
        width: 50%;
        text-align: right;
        margin: .625rem 3.125rem;
        h4{
            font-size: $font-8xl;
        }
        article{
            font-size: $font-2xl;
            font-weight: $font-light;
            margin-top: 1.25rem;
        }
    }
}
