.section-principal{
    @include flex(initial, unset, unset, 0);
    background-image: url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    height: 30rem;
    .principal{
        @include flex(column, unset, unset, 0);
        margin: 1.25rem;
        color: whitesmoke;
        padding: 3.125rem;
        h1{
            text-align: center;
            font-weight: $font-bold;
            font-size: $font-5xl;
            padding-bottom: 2.5rem;
        }
        p{
            text-align: center;
            font-size: $font-xl;
        }
    }
    .video{
        margin: 1.25rem;
        padding: 3.125rem;
    }
}

.frase-gancho{
    width: 100%;
    height: 15.625rem;
    background-color: #064b7dd7;
    padding: 4.6875rem 3.125rem;
    height: auto;
    p{
    text-align: center;
    font-size: $font-xl;
    color: whitesmoke;
    }
}

.como-ayudamos{
    @include flex(initial, unset, unset, 0);
    height: 32.5rem;
    margin-top: .625rem;
    padding: 1.875rem;
    .ayudas{
        @include flex(column, center, center, 0);
        .circulo{
            @include flex(initial, center, center, 0);
            width: 18.75rem;
            height: 18.75rem;
            background-color: rgba(61, 145, 173, 0.787);
            border-radius: 18.75rem;
            margin-bottom: .9375rem;
            img{
                width: 9.375rem;
                height: 9.375rem;
            }
        }
        p{
            text-align: center;
            margin: .9375rem;
        }
    }
}

.gancho-clientes{
    .atraer-clientes{
        @include flex(row, center, center, 0);
        background-color: rgba(20, 135, 177, 0.856);
        height: 11.875rem;
        .datos-clientes{
            @include flex(initial, center, center, 18.75rem);
            list-style: none;
            color: whitesmoke;
            font-size: $font-4xl;
            text-align: center;
        }
    }
}

.testimoniales{
    @include flex(column, unset, center, 0);
    text-transform: uppercase;
    /* margin-top: 1.875rem; */
    h2{
        font-size: $font-7xl;
        letter-spacing: .3125rem;
        margin-top: 1.875rem;
        margin-bottom: 1.25rem;
    }
    .carousel-bootstrap{
        width: 50%;
        height: auto;   
    }
    .calltoaction-inscribirme{
        @include flex(initial, unset, center, 0);
        height: 9.375rem;
        width: 100%;
        margin-top: 3.125rem;
        p{
            justify-content: center;
            text-align: center;
            font-size: $font-5xl;
            width: 50%;
            margin: 0;
            padding: 1.25rem;
        }
        .div-button{
            @include flex(initial, center, unset, 0);
            width: 50%;
            padding: 1.25rem;
            button{
                @include flex(initial, center, center, 0);
                width: 31.25rem;
                height: 6.25rem;
                background-color: #07598C;;
                border: none;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                border-radius: 1.875rem;
                &:hover{
                    background-color: #bb0606;
                }
                a{
                    text-decoration: none;
                    color: white;
                    font-size: $font-6xl;
                    text-align: center;
                }
            }
        }
    }
}