.acerca-de-nosotros{
    @include flex(initial, unset, unset, 0);
    height: auto;
    .about-us{
        @include flex(column, unset, unset, 0);
        margin: 1.25rem;
        color: black;
        padding: 3.125rem;
        h1{
            text-align: center;
            font-weight: $font-bold;
            font-size: $font-5xl;
            padding-bottom: 2.5rem;
        }
        p{
            text-align: center;
            font-size: $font-xl;
        }
    }
    .video-nosotros{
        margin: 1.25rem;
        padding: 0 3.125rem;
    }
}

.frase-nosotros{
    width: 100%;
    height: 10.625rem;
    background-image: url(../assets/img/personas-nosotroshtml.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-bottom: 1.25rem;
    @include flex(initial, center, center, 0);
    p{
        text-align: center;
        font-size: $font-xl;
        color: black;
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        margin: 0;
        padding: 0 2.5rem;
    }
}

.equipo{
    @include flex(column, unset, center, 0);
    text-transform: uppercase;
    .texto-equipo{
        margin: 1.25rem 1.875rem;
        h2{
            font-size:$font-5xl;
            letter-spacing: .1875rem;
            padding-bottom: .625rem;
            font-weight: $font-bold;
        }
        p{
            font-size: $font-md;
            padding-right: 3.125rem;
            text-align: justify;
        }
    }
}

.card{
    img{
        height: 21.875rem; object-fit: cover; 
        border-radius: 1.875rem;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .card-body{
        h5{
            text-align: center;
            font-weight: $font-bold;
        }
        p{
            text-align: center;
            font-weight: $font-light;
            font-size: $font-md;
        }
    }
}