.beneficios-texto{
    margin: 2.5rem;
    p{
        text-align: center;
        padding: 0rem 6.25rem;
        font-size: $font-xl;
        margin: 0px;
    }
}

.beneficios-ofrecemos{
    h3{
        text-align: center;
        font-weight: $font-bold;
        font-size: $font-6xl;
        margin-bottom: 1.875rem;
    }
    .beneficios-grid{
        display: grid;
        justify-content: center;
        gap: 2.5rem;
        grid-template-columns: repeat(3,18.75rem);
        grid-template-rows: repeat(2,18.75rem);
        grid-template-areas: 
        "b1 b2 b3"
        "b4 b5 b6"
        ;
        .container-b{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            background-color: lightblue;
        }
        .b1{
            grid-area: b1;
        }
        
        .b2{
            grid-area: b2;
        }
        
        .b3{
            grid-area: b3;
        }
        
        .b4{
            grid-area: b4;
        }
        
        .b5{
            grid-area: b5;
        }
        
        .b6{
            grid-area: b6;
        }
    }
}

.faqs{
    margin: 2.5rem 4.375rem;
    h3{
        font-size: $font-4xl;
        font-weight: $font-bold;
    }
    .accordion-button{
    background-color: #1170ab;
    color: snow;
    text-transform: uppercase;
    font-size: $font-xl;
    font-weight: $font-bold;
    }
}

.beneficios-final{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "bf-1 bf-2"
    "bf-3 bf-4";
    margin: 1.875rem 4.375rem;
    gap: 1.25rem;
    text-align: center;
    .bf-1{
        grid-area: bf-1;
    }
    .bf-2{
        grid-area: bf-2;
    }
    .bf-3{
        grid-area: bf-3;
    }
    .bf-4{
        grid-area: bf-4;
    }
    h4{
        font-weight: $font-bold;
    }
}   

.cta-solicitar{
    margin: 0rem 4.375rem;
    h3{
        font-size: $font-5xl;
        font-weight: $font-bold;
    }
    p{
        font-size: $font-3xl;
    }
    .button-beneficios{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 1.875rem;
        grid-template-areas: 
        "0 button";
        justify-items: end;
        button{
            grid-area: button;
            justify-content: center;
            width: 100%;
            height: 6.25rem;
            background-color: #07598C;
            border: none;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            border-radius: 1.875rem;
            align-items: center;
            &:hover{
                background-color: #bb0606;
            }
            a{
                text-decoration: none;
                color: white;
                font-size: $font-5xl;
                text-align: center;
            }
        }
    }
}

.beneficios-frase{
    width: 100%;
    height: 31.25rem;
    padding: 1.875rem 6.25rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: 
    "b-img b-frase";
    background-color: snow;
    align-items: center;
    p{
        grid-area: b-frase;
        font-size: $font-4xl;
        text-align: center;
        font-weight: $font-bold;
        font-style: italic;
    }
    .car-b{
        grid-area: b-img;
        height: 31.25rem;
        padding: 1.875rem 6.25rem;
        object-fit: cover;
        border-radius: 3.125rem;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 3.125rem;
        }
    }
}